<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Title</title>
</head>
<style>
    .detail{
        /*transform: translate3d(-50%, -50%, 0);*/
    }
</style>
<body>
<header>   <div th:replace="~{main/common/header :: header}"></div>
</header>


<div th:replace="~{main/common/footer :: footer}"></div>

</body>
</html>
